<h3>Dates</h3>
<hr>
<div class="col-sm-6">
	<form class="form-inline">
		<div class="form-group">
			<label class="form-control">Money</label>
			<div class="btn-group">
			  <button type="button" class="btn btn-datebox">Left</button>
			  <button type="button" class="btn btn-datebox">Middle</button>
			  <button type="button" class="btn btn-datebox">Right</button>
			</div>
		</div>
		<div class="form-group">
			<label class="form-control">Place</label>
			<div class="btn-group">
			  <button type="button" class="btn btn-datebox">Left</button>
			  <button type="button" class="btn btn-datebox">Middle</button>
			  <button type="button" class="btn btn-datebox">Right</button>
			</div>
		</div>
		<div class="form-group">
			<label class="form-control">Preperations</label>
			<div class="btn-group">
			  <button type="button" class="btn btn-datebox">Left</button>
			  <button type="button" class="btn btn-datebox">Middle</button>
			  <button type="button" class="btn btn-datebox">Right</button>
			</div>
		</div>
		<div class="form-group">
			<label class="form-control">Weather</label>
			<div class="btn-group">
			  <button type="button" class="btn btn-datebox">Left</button>
			  <button type="button" class="btn btn-datebox">Middle</button>
			  <button type="button" class="btn btn-datebox">Right</button>
			</div>
		</div>
	</form>
</div>
<div class="col-sm-6">
	<div class="card"></div>
</div>